.advantage {
  background-color: #ffffff;
  width: 320px;
}

.advantage__intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto 0 auto;
}

.advantage__ask-answer {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: $darkblue;
  padding: 15px;
  margin: 0;
}

.advantage__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  padding-top: 125px;
  background-image: url("../img/shape-grey.png");
  margin: 0;
}

.advantage__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.advantage__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 20px auto;
}

.advantage__description {
  font-size: 14px;
  font-weight: 300;
  color: $darkblue;
  text-align: center;
  margin: 0;
}

.advantage__image {
  background-color: $grey-background;
  height: 277px;
  overflow: hidden;
}

.advantage__picture {
  margin: 0 81px 0 81px;
}
