.advantage {
  background-color: #ffffff;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.advantage__intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.advantage__ask-answer {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: $darkblue;
  padding: 14px 15px 15px 15px;
  margin: 0 auto;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    padding-bottom: 0;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 61px;
    width: 735px;
  }
}

.advantage__ask-answer--bottom {
  @media (min-width: $tablet-width) {
    width: 570px;
    padding-top: 0;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    margin-bottom: 80px;
  }
}

.advantage__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  padding: 97px 0 10px;
  background-image: url("../../img/shape-grey.png");
  margin: 0;
  background-position: 100% 12%;

  @media (min-width: $tablet-width) {
    width: 660px;
    background-image: url("../../img/shape-grey-tablet.png");
    height: 400px;
    padding-top: 73px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    background-image: url("../../img/shape-grey-desktop.png");
    display: flex;
    justify-content: center;
    height: 610px;
    background-repeat: no-repeat;
    padding-top: 0;
  }
}

.advantage__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin-left: 330px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 299px;
    height: 574px;
    position: relative;
    margin: -3px 11px;
  }
}

.advantage__picture-smile {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

.advantage__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 12px auto;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 0;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    text-align: center;
    padding: 44px 35px 0;
    line-height: 30px;
  }
}

.advantage__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantage__description {
  font-size: 14.5px;
  width: 260px;
  font-weight: 300;
  color: $darkblue;
  text-align: center;
  margin: 0 auto;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0;
    width: 305px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.advantage__image {
  background-color: $grey-background;
  height: 277px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-top: -481px;
    height: 481px;
    background-color: transparent;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantage__picture {
  margin: 0 81px 0 82px;

  @media (min-width: $tablet-width) {
    width: 269px;
    height: 482px;
    margin-left: 0;
  }
}
