.advantage {
  background-color: #ffffff;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 660px;
  }
}

.advantage__intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto 0 auto;
}

.advantage__ask-answer {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: $darkblue;
  padding: 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    padding-bottom: 0;
    line-height: 50px;
  }
}

.advantage__ask-answer--bottom {
  @media (min-width: $tablet-width) {
    width: 570px;
    padding-top: 0;
    margin-bottom: 45px;
  }
}

.advantage__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  padding-top: 125px;
  background-image: url("../../img/shape-grey.png");
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 660px;
    background-image: url("../../img/shape-grey-tablet.png");
    height: 412px;
    padding-top: 100px;
  }
}

.advantage__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin-left: 330px;
    text-align: right;
  }
}

.advantage__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 20px auto;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.advantage__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantage__description {
  font-size: 14px;
  width: 260px;
  font-weight: 300;
  color: $darkblue;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0;
    width: 300px;
    line-height: 25px;
  }
}

.advantage__image {
  background-color: $grey-background;
  height: 277px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    margin-top: -481px;
    height: 481px;
    background-color: transparent;
    margin-left: 20px;
  }
}

.advantage__picture {
  margin: 0 81px 0 81px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantage__discovery {
  position: relative;
  display: none;
  width: 300px;
  margin: 95px 30px 0 330px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/icon-time-24.png");
    background-repeat: no-repeat;
    width: 238px;
    height: 276px;
    top: -36px;
    left: -310px;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantage__discovery-title {
  font-size: 29px;
  font-weight: bold;
  width: 180px;
  margin: 0;
}

.advantage__discovery-text {
  font-size: 14px;
  font-weight: 300;
  color: $darkblue;
  line-height: 25px;
  width: 290px;
}

.advantage__discovery-link {
  text-decoration: underline;
  color: $crimson;
  font-size: 14px;
  font-weight: 300;
}
