.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    margin-bottom: 3px;
  }
}

.contacts__common {
  width: 280px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__common--third {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  color: $darkblue;
  text-align: center;
  margin: 0;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
  }
}

.contacts__info {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: $crimson;
  text-align: center;
  text-decoration: none;
  margin: 0 0 23px 0;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
  }
}
