.main-nav {
  position: relative;
}

.main-nav__close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  border: 0;
  outline: none;
  left: 275px;
  top: -33px;
  z-index: 6;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    border: 1px;
    transform: rotate(45deg);
    top: 0;
    left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    border: 1px;
    transform: rotate(-45deg);
    top: 0;
    left: 0;
  }

  &:hover::before,
  &:hover::after {
    background-color: $crimson;
  }

  &:active::before,
  &:active::after {
    background-color: $crimson;
    opacity: 30%;
  }
}

.main-nav__open {
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  border: none;
  top: -33px;
  left: 250px;
  outline: none;
  z-index: 6;

  &::before {
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    content: "";
    top: -10px;
    left: 0;
    border: none;
    position: absolute;
  }

  &::after {
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    content: "";
    top: 10px;
    left: 0;
    border: none;
  }

  &:hover,
  &:hover::before,
  &:hover::after {
    background-color: $crimson;
  }

  &:active {
    background-color: $crimson;
    opacity: 30%;
  }
}

.main-nav__open:focus ~ .site-list,
.main-nav__open:active ~ .site-list,
.site-list:hover {
  display: block;
}

.main-nav__open:focus,
.main-nav__open:focus::before,
.main-nav__open:focus::after {
  background-color: transparent;
}

.main-nav__close:focus ~ .site-list {
  display: none;
}
