.main-nav__close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  border: 0;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    border: 1px;
    transform: rotate(45deg);
    top: -36px;
    left: 270px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    border: 1px;
    transform: rotate(-45deg);
    top: -36px;
    left: 270px;
  }
}
