.page-route {
  width: 320px;
  height: 393px;
  position: relative;
  background-color: #ffffff;
}

.page-route__feedback {
  font-size: 24px;
  color: $darkblue;
  text-align: center;
  padding: 35px;
  margin: 0;
}

.page-route__conteiner {
  width: 320px;
  height: 220px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/triangle-white-footer.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 123px;
    left: 0;
    top: -81px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 35px;
    left: 142px;
    top: 103px;
  }
}

.page-route__map {
  position: relative;
  top: -436px;
  z-index: -2;
}
