.page-form {
  width: 320px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    position: relative;
  }
}

.page-form__main {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.page-form__name {
  @media (min-width: $tablet-width) {
    order: 1;
    margin: 3px auto 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.page-form__greeting {
  font-size: 14px;
  line-height: 30px;
  color: $darkblue;
  width: 280px;
  text-align: center;
  margin: 46px auto 34px;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin-bottom: 70px;
    font-size: 18px;
    margin-top: 92px;
  }

  @media (min-width: $desktop-width) {
    width: 760px;
    font-size: 18px;
    margin-bottom: 85px;
  }
}

.page-form__greeting-appear {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.page-form__contacts {
  @media (min-width: $tablet-width) {
    order: 3;
    width: 620px;
    height: 310px;
    margin: 0 auto 65px;
    border: 2px solid $grey-border-form;
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    height: 163px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 58px;
  }
}

.page-form__contacts::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-phone-tablet.png");
    background-position: center;
    background-color: $grey-border-form;
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    left: 498px;
    margin-top: 47.5px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    left: 373px;
    top: 46px;
    margin: 0;
  }
}

.page-form__contacts::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-mail-tablet.png");
    background-position: center;
    background-color: $grey-border-form;
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 59px;
    height: 59px;
    left: 498px;
    margin-top: -131px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    left: 816px;
    top: 46px;
    margin: 0;
  }
}

.page-form__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    @include title-input();
    height: 20px;
    width: 260px;
    margin: -10px auto 35px;
    background-color: #ffffff;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 280px;
    margin-right: 338px;
    margin-bottom: 34px;
  }
}

.page-form__send {
  font-family: "Open Sans", "Arial", sans-serif;
  width: 280px;
  height: 63px;
  background-color: $green-button;
  border-radius: 3px;
  margin: 29px 20px 40px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  &:hover {
    background-color: $green-button-hover;
  }

  &:active {
    background-color: $green-button-hover;
    color: $green-button-active-text;
  }

  &:disabled {
    background-color: $grey-border-form;
  }

  @media (min-width: $tablet-width) {
    order: 9;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.page-form__requred {
  text-align: center;
  color: $darkblue;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto 61px;

  @media (min-width: $tablet-width) {
    order: 10;
    width: 185px;
    margin: -82px 17px 78px auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 753px;
    margin-bottom: 61px;
    margin-right: 0;
    width: 320px;
  }
}
.page-form__requred--red {
  color: $crimson;
  margin-left: 0;
}


.page-form__requred--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
    margin: 0;
  }
}

.page-form__popap-error {
  width: 320px;
  height: 290px;
  margin: 0 auto;
  background-color: #ffffff;
  position: fixed;
  top: 40%;
  box-shadow: 0 5px 10px $darkgrey;
  z-index: 3;
  display: none;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 365px;
    left: 100px;
    box-shadow: 0 34px 38px #b5b9be;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 783px;
    height: 376px;
  }
}

.page-form__popap-done {
  width: 320px;
  height: 380px;
  background-color: #ffffff;
  position: fixed;
  top: 20%;
  box-shadow: 0 5px 10px $darkgrey;
  z-index: 3;
  display: none;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 428px;
    box-shadow: 0 34px 38px #b5b9be;
    border-radius: 5px;
    left: 100px;
  }

  @media (min-width: $desktop-width) {
    width: 783px;
    height: 376px;
  }
}

.page-form__popap-title {
  font-size: 18px;
  width: 250px;
  margin: 40px auto 0;
  font-weight: bold;
  text-align: center;
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    margin-top: 40px;
  }
}

.page-form__popap-text {
  width: 320px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: $darkblue;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 12px auto -27px;
  line-height: 30px;
  width: 250px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 0;
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
  }
}

.page-form__popap-button-block {
  width: 320px;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 140px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 783px;
    background-color: $grey-background;
    margin-top: 70px;
  }
}

.page-form__popap-button-block--done {
  width: 320px;
  height: 160px;
  background-color: $grey-background;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 162px;
    margin-top: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 783px;
    margin-top: 19px;
  }
}

.page-form__popap-button {
  width: 280px;
  height: 63px;
  background-color: $green-button;
  border-radius: 3px;
  margin: 29px 20px 40px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;


  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.page-form__popap-button--done {
  @media (min-width: $desktop-width) {
    width: 460px;
  }
}
