.photo-editor {
  background-color: $grey-background;

  @media (min-width: $tablet-width) {
    width: 660px;
    position: relative;
    height: 511px;
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 514px;
    background-color: #ffffff;
    margin-bottom: 65px;
  }
}

.photo-editor__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    height: 514px;
    background-color: $grey-background;
    margin: 0 auto;
  }
}

.photo-editor__object {
  margin: 20px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
    margin-top: 57px;

    @media (min-width: $desktop-width) {
      margin-left: 80px;
    }
  }
}

.photo-editor__indicator {
  display: none;
}

.photo-editor__radio-labels {
  width: 201px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 65px 20px 54px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.photo-editor__svg {
  fill: $darkgrey;

  &--crop {
    width: 48px;
    height: 48px;
  }

  &--fill {
    width: 48px;
    height: 48px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  &:hover {
    fill: $dark-grey-hover;
  }
}

/* stylelint-disable */
#crop:checked ~ .photo-editor__radio-labels .photo-editor__svg--crop,
#fill:checked ~ .photo-editor__radio-labels .photo-editor__svg--fill,
#contrast:checked ~ .photo-editor__radio-labels .photo-editor__svg--contrast {
  fill: $crimson;
}
/* stylelint-enable */

.photo-editor__indicator-scale {
  display: none;
}

.photo-editor__label-scale {
  width: 240px;
  height: 2px;
  background-color: $darkblue;
  display: block;
  margin: 35px auto;
  position: relative;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 2px solid $crimson;
    position: absolute;
    border-radius: 50%;
    top: -6px;
    left: 193px;
  }

  &:active::before {
    background-color: $crimson;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.photo-editor__indicator-tablet {
  display: none;
  margin: 45px 0 0 45px;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 41px 0 0 27px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    height: 250px;
    margin: 39px 0 0 70px;
  }
}

.photo-editor__indicator-tablet-border {
  width: 275px;
  height: 34px;
  border-bottom: 1px solid $lightgrey;
  margin-bottom: 37px;

  @media (min-width: $desktop-width) {
    width: 410px;
  }
}

.photo-editor__label-scale-tablet {
  display: none;
  width: 202px;
  height: 2px;
  background-color: $darkblue;
  margin-top: 35px;
  margin-left: 54px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
  }


  @media (min-width: $desktop-width) {
    width: 289px;
    margin-left: 93px;
  }

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 2px solid $crimson;
    position: absolute;
    border-radius: 50%;
    top: -6px;
  }

  &:active::before {
    background-color: $crimson;
  }
}

.photo-editor__label-scale-tablet--crop {
  &::before {
    left: 146px;

    @media (min-width: $desktop-width) {
      left: 73px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-crop-tablet.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    left: -54px;
    top: -10px;

    @media (min-width: $desktop-width) {
      background-image: url("../../img/icon-crop-desktop.png");
      width: 44px;
      height: 44px;
      left: -91px;
      top: -21px;
    }
  }
}

.photo-editor__label-scale-tablet--fill {
  &::before {
    left: 25px;

    @media (min-width: $desktop-width) {
      left: 247px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-fill-tablet.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    left: -53px;
    top: -9px;

    @media (min-width: $desktop-width) {
      background-image: url("../../img/icon-fill-desktop.png");
      width: 48px;
      height: 43px;
      left: -92px;
      top: -18px;
    }
  }
}

.photo-editor__label-scale-tablet--contrast {
  &::before {
    left: 96px;

    @media (min-width: $desktop-width) {
      left: 160px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-contrast-tablet.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    left: -48px;
    top: -9px;

    @media (min-width: $desktop-width) {
      background-image: url("../../img/icon-contrast-desktop.png");
      width: 32px;
      height: 32px;
      left: -88px;
      top: -15px;
    }
  }
}

.photo-editor__buttons {
  width: 320px;
  height: 202px;
  border-top: 1px solid $lightgrey;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 297px;
    left: 345px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    display: flex;
    justify-content: space-between;
    left: 603px;
    top: 402px;
  }
}

.photo-editor__button {
  @include button();
  margin: 38px auto 0;
  outline: none;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin: 25px 22px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    margin: 0;
  }
}

.photo-editor__button--send {
  border: 3px solid $crimson;
  color: $crimson;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }

  &:hover {
    background-color: $crimson;
    color: #ffffff;
    border: none;
  }

  &:active {
    opacity: 30%;
    background-color: $crimson;
    color: #ffffff;
    border: none;
  }
}

.photo-editor__button--cancel {
  border: 3px solid $lightgrey;
  color: $lightgrey;
  margin-top: 12px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }

  &:hover {
    color: $darkgrey;
    border: 3px solid $darkgrey;
  }

  &:active {
    background-color: $darkgrey;
    color: $lightgrey;
    border: none;
  }
}
