.promo-app {
  background-color: $darkblue;
  width: 320px;
  height: 271px;
}

.promo-app__link {
  @include button();
  border: 3px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  margin: 28px auto 30px;

  &:hover {
    background-color: #ffffff;
    color: $crimson;
  }

  &:active {
    background-color: #ffffff;
    color: lighten($crimson, $amount: 30);
  }
}

.promo-app__os {
  margin: 0 auto;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-app__description {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 25px 40px 35px 40px;
}
