.promo-app {
  background-color: $darkblue;
  width: 320px;
  height: 271px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: -379px;
    background-color: $transparent;
    margin-bottom: 108px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -431px;
    margin-left: 110px;
    margin-bottom: 160px;
  }
}

.promo-app__link {
  @include button();
  border: 3px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  margin: 28px auto 30px;


  @media (min-width: $tablet-width) {
    width: 300px;
    position: absolute;
    left: 20px;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin: 29px auto 66px;
    font-size: 21px;
  }

  &:hover {
    background-color: #ffffff;
    color: $crimson;
  }

  &:active {
    background-color: #ffffff;
    color: lighten($crimson, $amount: 30);
  }
}

.promo-app__os {
  margin: 0 auto;
  width: 203px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-top: 126px;
    width: 208px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 203px;
    margin-bottom: 17px;
  }
}

.promo-app__description {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
  margin: 0;
  padding: 19px 39px 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 300px;
    padding-left: 20px;
    padding-top: 35px;
  }
}
