.reviews {
  background-color: #ffffff;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.reviews__greeting {
  color: $darkblue;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  padding: 50px 35px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 460px;
    padding: 90px 100px;
  }

  @media (min-width: $desktop-width) {
    width: 575px;
    margin: 0 auto;
  }
}

.reviews__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.reviews__link {
  display: inline-block;
  position: relative;
  height: 180px;

  &--panorama::before {
    position: absolute;
    content: "";
    background-image: url("../../img/panorama-day.png");
    background-repeat: no-repeat;
    width: 140px;
    height: 36px;
    top: 0;
    left: 160px;

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 500px;
    }

    @media (min-width: $desktop-width) {
      top: 54px;
      left: 930px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
  }
}

.reviews__link--panorama {
  @media (min-width: $tablet-width) {
    width: 660px;
    height: 510px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 507px;
  }
}

.reviews__link--car {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/photo-car-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

.reviews__link--drumset {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/photo-drumset-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

.reviews__link--window {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/photo-window-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

.reviews__link--fair {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/photo-fair-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

.reviews__link--pov {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/photo-pov-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}
/*
.reviews__link--wing {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/photo-wing-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}*/

.reviews__footer {
  font-size: 14px;
  line-height: 30px;
  color: $darkblue;
  display: block;
  width: 280px;
  height: 90px;
  text-align: center;
  margin: 0 auto 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 500px;
    margin: 63px auto 38px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}
