.site-list {
  list-style: none;
  position: relative;
  padding-left: 0;
  margin: 0;
}

.site-list__item {
  width: 320px;
  height: 64px;
  box-sizing: border-box;
  background-color: #1d2632;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-list__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
