.slider-comment {
  position: relative;
  width: 320px;
  height: 285px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 240px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 230px;
  }
}

.slider-comment__arrows {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 926px;
    height: 30px;
    left: 137px;
    top: 33px;
  }
}

.slider-comment__arrow {
  @media (min-width: $desktop-width) {
    display: block;
    background-color: $transparent;
    width: 30px;
    height: 30px;
    border: none;
    border-top: 2px solid $grey-arrow;
    border-right: 2px solid $grey-arrow;
    outline: none;
  }
}

.slider-comment__arrow--left {
  @media (min-width: $desktop-width) {
    transform: rotate(-135deg);
  }
}

.slider-comment__arrow--right {
  @media (min-width: $desktop-width) {
    transform: rotate(45deg);
  }
}

.slider-comment__indicator {
  display: none;
}

.slider-comment__switches {
  @include toggle-block();
  top: 254px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0 298px;
    top: 218px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider-comment__label {
  @include toggle();
  border: 3px solid #ffffff;
  background-color: #bec2c7;
}

.slider-comment__user {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 45px auto 16px;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin: 124px 200px 0;
    width: 260px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 125px 470px 0;
    font-size: 24px;
  }
}

.slider-comment__business {
  display: none;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: $darkblue;
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.slider-comment__review {
  display: block;
  width: 280px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: $darkblue;

  @media (min-width: $tablet-width) {
    width: 620px;
    font-size: 18px;
    margin-top: 128px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 185px;
    width: 690px;
  }
}

.slider-comment__review::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    width: 79px;
    height: 63px;
    background-image: url("../../img/icon-quotes.svg");
    top: -115px;
    left: 563px;
  }
}

.slider-comment__text {
  display: none;
}

/* stylelint-disable */
#slide-review-1:checked ~ .slider-comment__switches label[for="slide-review-1"],
#slide-review-2:checked ~ .slider-comment__switches label[for="slide-review-2"],
#slide-review-3:checked ~ .slider-comment__switches label[for="slide-review-3"] {
  border: 3px solid $darkblue;
}

#slide-review-1:checked ~ .slider-comment__content #slide-comment-1,
#slide-review-2:checked ~ .slider-comment__content #slide-comment-2,
#slide-review-3:checked ~ .slider-comment__content #slide-comment-3 {
  display: block;
}
/* stylelint-enable */
