$darkblue: #243343;
$grey-background: #f2f2f2;
$crimson: #d22856;
$dark-grey-border: #485461;
$darkgrey: #b5b9be;
$lightgrey:#dddfe0;
$lightgrey-social: #e9ebec;
$grey-border-form: #e5e5e5;
$green-button: #2aab6d;
$green-button-hover: #1c9b5e;
$green-button-active-text: #61b98f;
$dark-grey-hover: #a6abb1;
$grey-arrow: #bec2c7;
$tablet-width: 660px;
$desktop-width: 1200px;
$transparent: transparent;
